[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
termcolor = "*"
leetcode-shared = {editable = true, path = "./leetcode_shared"}
typing-extensions = "*"
typed-ast = "*"
numpy = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
